header {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.pngitem.com/pimgs/m/647-6474277_doge-meme-white-background-hd-png-download.png);
}

img {
    height: 400px;
    padding: 30px;
}

.ad{
    border: 1px black dotted;
    padding: 40px;
}

.ad:hover{
    background-color: lightcoral;
    opacity: 95%
}

div {
    margin: 40px;
    background-color: white;
    opacity: 95%
    
    
}

p {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#price{
    font-weight: 1000;
}